body {
  font-family: "Maven Pro", sans-serif;
  background-color: #ffd1ff;
}

h1 {
  color: #ff00e6;
  font-size: 43px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #202020;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}
a {
  color: #00abb3;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ff00e6;
}
.btn {
  background-color: #00abb3;
  border: 1px solid #00abb3;
}

.btn:hover {
  background-color: #ff00e6;
  border: 1px solid #ff00e6;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 50px 30px 10px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 12px 12px 2px 1px rgba(255, 0, 230, 0.2);
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.date-update {
  font-size: 12px;
  text-align: center;
  color: #00abb3;
}

.code-tag {
  font-size: 10px;
  line-height: 50px;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-temp-max {
  font-size: 13px;
}

.weather-forecast-temp-min {
  font-size: 13px;
}
