body {
  font-family: "Maven Pro", sans-serif;
}

h1 {
  color: #424242;
  font-family: "Red Hat Mono", monospace;
  font-size: 18px;
  text-align: left;
  padding-bottom: 10px;
}

h2 {
  color: #ff00e6;
  text-align: center;
  font-size: 43px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 0;
}
a {
  color: #ff00e6;
  text-decoration: none;
}
a:hover {
  color: #ff00e6;
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #202020;
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
}

.f:hover {
  cursor: default;
}

.btn {
  background-color: #ff00e6;
  border: none;
  font-family: "Red Hat Mono", monospace;
}
.btn:hover {
  color: white;
  background-color: #000000;
  border: none;
}

.btn:active {
  background-color: transparent;
  border: none;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.weather-app {
  padding: 50px 30px 10px;
  background: radial-gradient(
    circle at -2% -25%,
    rgb(250, 66, 255, 0.67) 0%,
    rgba(255, 213, 136, 0.67) 100.7%
  );
  box-shadow: 12px 12px 2px 1px rgba(255, 0, 230, 0.2);
  border: 0px;
  border-radius: 5px;
}
.weather-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 75px;
  width: 75px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.date-update {
  font-size: 13px;
  text-align: center;
  color: #ff00e6;
}

.code-tag {
  font-size: 12px;
  line-height: 50px;
  font-family: "Red Hat Mono", monospace;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-temp-max {
  font-size: 13px;
}

.weather-forecast-temp-min {
  font-size: 13px;
}
